# .gitignore
*.swp
*~

/bin/*
/build/*
!.gitkeep
/sync.sh

/makefile.include

CHG
CHGCAR
CONTCAR
DOSCAR
EIGENVAL
IBZKPT
OSZICAR
OUTCAR
PCDAT
REPORT
vasprun.xml
WAVECAR
XDATCAR
LOCPOT
PROCAR
AECCAR*
err
out
timing.log
log-*
slurm-*

