# .gitignore

/bin/*
/build/*
!.gitkeep

/makefile.include

/test/
!/test/metal/Fe/INCAR
!/test/metal/Fe/POSCAR
!/test/metal/Fe/POTCAR
!/test/metal/Fe/KPOINTS
!/test/insulator/NiO/INCAR
!/test/insulator/NiO/POSCAR
!/test/insulator/NiO/POTCAR
!/test/insulator/NiO/KPOINTS
