# .gitignore

/bin/*
/build/*
!.gitkeep

/makefile.include

/test/
!/test/Fe/INCAR
!/test/Fe/POSCAR
!/test/Fe/POTCAR
!/test/Fe/KPOINTS
!/test/NiO/INCAR
!/test/NiO/POSCAR
!/test/NiO/POTCAR
!/test/NiO/KPOINTS
